@using Modelo.Entidades

@model IEnumerable<RolPagos> 

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista Rol de Pagos</h1>
<p> A continución se presenta la lista de los Roles de Pagos del Sistema de Aprovación de Créditos BIESS</p>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h3>Rol Pagos</h3>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-success d-block" asp-controller="RolPagos" asp-action="Create">
                Nuevo Rol de Pago
            </a>
        </div>
    </div>
    @if (TempData["mensaje"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show " role="alert">
            @TempData["mensaje"]
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span ariaaria-hidden="true">
                    &times;
                </span>
            </button>
        </div>
    }
    <div class="row">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Sueldo</th>
                    <th>Aporte IESS</th>
                    <th>Prestamos IESS</th>
                    <th>Anticipo</th>
                    <th>Total Ingresos</th>
                    <th>Solicitante</th>
                </tr>
            </thead>
            <tbody>
                @foreach (RolPagos rolPagos in Model)
                {
                <tr>
                    <td>@rolPagos.RolPagosId</td>
                    <td>@rolPagos.Sueldo</td>
                    <td>@rolPagos.AporteIESS</td>
                    <td>@rolPagos.PrestamosIESS</td>
                    <td>@rolPagos.Anticipo</td>
                    <td>@rolPagos.TotalIngresos</td>
                    <td>@rolPagos.Solicitante.Nombres @rolPagos.Solicitante.Apellidos</td>
                    <td>
                        <a class="btn btn-warning" asp-controller="RolPagos" asp-action="Edit" asp-route-id="@rolPagos.RolPagosId"> Editar </a>
                        <a class="btn btn-danger" asp-controller="RolPagos" asp-action="Delete" asp-route-id="@rolPagos.RolPagosId"> Eliminar </a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

